<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="home_style.css">
    <title>Home Page</title>
</head>

<body>
    <div class="NavBar ">
        <div class="login-register">
            <a href="http://localhost:27012/login" class="navBar_login">login</a>
            <a href="http://localhost:27012/signup" class="navBar_login">Register</a>
        </div>
    </div>
    <img class="imgMain" src="homeimg.jpg" alt="random home image">
</body>

</html>